@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #444444;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #53A5F5;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #57BEDE;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #EEEEEE;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #50EBBA;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
.vector-header {
	background: #924DE8;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
}
.vector-nav {
	background: #D261FF;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.vector-footer {
	background: #FF54AD;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
